.ifr_video
{
    position: absolute;
    height: 1040px;
    width: 640px;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    -webkit-transition: all ease .4s;
    -webkit-transition-delay: 0s;
    opacity: 0;
    -webkit-transform: scale(1) translate3d(100%, 0, 0px);
}


.ifr_video > *
{
    position: absolute;
    -webkit-transition: all ease .4s;
}


.ifr_video .content
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -320px;
}


.ifr_video .content > *
{
    position: absolute;
    -webkit-transition: all ease .4s;
}


.ifr_video .video_con
{
    width: 100%;
    height: 100%;
}


.ifr_video .close_btn
{
    display: block;
    background: url(../resource/close_btn.png) top center no-repeat;
    background-size: 66px auto;
    width: 66px;
    height: 66px;
    left: 20px;
    top: 80px;
    z-index: 999;
}


.ifr_video.in
{
    z-index: 100;
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0px);
}


#sohuplayer
{
    text-align: center;
    line-height: 1040px;
}


#sohuplayer > *
{
    margin: 40% auto;
}



